<launch>

  <arg name="GUI" default="true" />
  <arg name="PROCESS" default="true" />

  <include file="$(find mercury_ros)/launch/rs_rgbd.launch">
    <arg name="GUI" value="false" />
    <arg name="PROCESS" value="$(arg PROCESS)" />
  </include>

  <include file="$(find mercury_ros)/launch/morefusion.launch">
    <arg name="GUI" value="$(arg GUI)" />
    <arg name="PROCESS" value="$(arg PROCESS)" />
  </include>

</launch>
