<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0270964 0.0513041 0.0230122" rpy="1.5701 -0.791666 1.56535" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0270964 0.0513041 0.0230122   0.270101 -0.6533 0.266995 0.654949 panda_link8 camera_link" />
</launch>
