<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <!-- arm {{ -->

  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:panda_arm />

  <!-- }} arm -->

  <!-- gripper {{ -->

  <xacro:include filename="$(find mercury_panda)/robots/suction_gripper.xacro"/>
  <xacro:suction_gripper ns="panda" rpy="${pi} 0 ${-pi/4}" xyz="0 0 0.0065" connected_to="panda_link8"/>

  <!-- }} gripper -->

  <!-- scene {{ -->

  <xacro:include filename="$(find mercury_panda)/robots/scene/table.xacro"/>
  <xacro:table ns="panda" rpy="0 0 0" xyz="0.68 0 0.0375" connected_to="panda_link0"/>

  <xacro:include filename="$(find mercury_panda)/robots/scene/target_box.xacro"/>
  <xacro:target_box ns="panda" rpy="0 0 0" xyz="0.45 -0.45 0.075" connected_to="panda_link0"/>

  <!-- }} scene -->

</robot>
